body{
  background-color: lightcyan;
}
#nav-list{
  align: right;
  margin-top: 0px;

}

#collapsable-nav a span{
margin-top: -20px;
  }
#nav-list a{
  color: grey;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 20px;
}
#nav-list a:hover{
  background: ghostwhite;
}


#header-nav{
  background-color: powderblue;
  border-radius: 0;
  border: 0;
}

.navbar-header{
  padding: 25px;
}

.navbar-title h1{
color: black;
text-transform: uppercase;
font-weight: bolder;
text-shadow: 1px 1px 1px gray;
margin-top: 5px;
margin-bottom: 10px;
font-size: 3vx;
}

.navbar-title a:hover, .navbar-title a:focus { 
  text-decoration: none; 
}

.navbar-header button, .navbar-toggle{
  border: 1px solid #61122f;
  margin-top: 0;
}
.navbar-header button, .navbar-toggle{
  clear: both;
  margin-top: -35px;
}

h2{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
  color: Black;
  font-weight: bolder;

}

p {
  position: relative;
  background-color: mintcream;
  border: 2px solid black;
  height: 1000vx;
  margin-left: 20px;
  margin-right: 20px;
  padding: 40px 10px 5px 10px;
}


.container {
  
}

#p1 {
  background-color: orangered;
 position: absolute;
  top: 0;
  right:0;
  left: 0;
  height: 40px;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  text-align: center;
 margin-right: 35px;
 margin-left: 35px;
 border: 2px solid black;

}
#p2 {
 background-color: yellow;
 position: absolute;
  top: 0;
  right:0;
  left: 0;
  height: 40px;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  text-align: center;
 margin-right: 35px;
 margin-left: 35px;
 border: 2px solid black;

}
#p3 {
 background-color: lightseagreen;
 position: absolute;
  top: 0;
  right:0;
  left: 0;
  height: 40px;
  font-weight: bold;
  font-size: larger;
  padding: 10px;
  text-align: center;
 margin-right: 35px;
 margin-left: 35px;
 border: 2px solid black;

}
.row {
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}

#nav-list{
  align: right;
  margin-top: 10px;
}


@media (min-width: 1200px){

}

@media (min-width: 992px) and (max-width: 1199px{

}

@media (min-width: 768px) and (max-width: 991px){

}
@media (max-width: 767px){
  #collapsable-nav a{
    font-size: 1.2em;
  }

  #collapsable-nav a span{
    font-size: 1em;
    margin-right: 5px;
  }


}
@media (max-width: 479px){

}